* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
}

body {
    position: relative;
    min-height: 100vh;
}

#welcome {
    height: 100vh;
    background: url('https://res.cloudinary.com/iniodugboyous/image/upload/v1566580973/personal/IMG_20190729_124928-01_azmeiy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
}

#welcome .name-plate {
    width: 70%;
    height: 50%;
    text-align: start;
    margin-top: 200px;
    padding-left: 20px;
}

.name-plate h1 {
    font-size: 6.5em;
    font-weight: 200;
    line-height: 1em;
    padding: -5px;
}

.name-plate ul li {
    width: 80%;
    font-size: 30px;
}

#skills,
#hobbies,
#education,
#contact {
    height: 100vh;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#skills {
    background-image:
        url(./undraw_online_cv_qy9w.png);
    background-color: rgba(29, 28, 29, 0.986);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

#skills h1 {
    font-size: 4em;
    font-weight: 100;
    line-height: 1em;
    margin-bottom: 10px;
}

#skills ul {
    margin-top: 10px;
    font-size: 30px;
}

#education {
    background-image: url(./undraw_Graduation_ktn0.png);
    background-color: rgba(29, 28, 29, 0.986);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

#education h1 {
    font-size: 4em;
    font-weight: 100;
    line-height: 1em;
    margin-bottom: 10px;

}

#education ul {
    margin-top: 10px;
    font-size: 30px;
}

#education ul li {
    margin: 10px 0;
}

#education hr {
    border-color: rgba(206, 184, 184, 0.808);
    width: 50%;
    margin: auto;

}

#education em {
    color: rgb(255, 191, 191);
}

#hobbies {
    background-image:
        url(./undraw_skateboard_nmbb.png);
    background-color: rgba(29, 28, 29, 0.986);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

#hobbies h1 {
    font-size: 4em;
    font-weight: 100;
    line-height: 1em;
    margin-bottom: 10px;

}

#hobbies ul {
    margin-top: 10px;
    font-size: 30px;
}

#contact {
    background-image: url(./undraw_contact_us_15o2.png);
    background-color: rgba(29, 28, 29, 0.986);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    margin-bottom: 0px;
}

#contact h1 {
    font-size: 4em;
    font-weight: 100;
    line-height: 1em;
    margin-bottom: 10px;
}

#contact ul {
    margin-top: 10px;
    font-size: 30px;
}

#contact div a {
    text-decoration: none;
    color: rgb(231, 222, 222);
    transition: font-size .3s linear;
    padding-left: 10px;
}

#contact div a:hover {
    color: rgb(165, 105, 105);
    font-size: 22px;
    transition: font-size .3s linear;
}

#contact ul div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer {
    background: #000;
    color: white;
    font-weight: 200;
    font-size: 1.5em;
    text-align: center;
}

@media (max-width: 585px) {
    #welcome .name-plate {
        width: 70%;
        height: 50%;
        text-align: start;
        margin-top: 244px;
        padding-left: 20px;
    }

    .name-plate h1 {
        font-size: 4em;
        font-weight: 200;
        line-height: 1em;
        padding: -5px;
    }

    #skills h1,
    #education h1,
    #hobbies h1,
    #contact h1 {
        font-size: 3em;
        font-weight: 100;
        line-height: 1em;
        margin-bottom: 10px;
    }

    #skills ul,
    #education ul,
    #hobbies ul,
    #contact ul {
        margin-top: 5px;
        font-size: 27px;
    }

    #contact div a {
        text-decoration: none;
        color: rgb(231, 222, 222);
        transition: font-size .3s linear;
        padding-left: 10px;
    }

    #contact div a:hover {
        color: rgb(165, 105, 105);
        transition: font-size .3s linear;
    }

}

@media (min-width: 576px) {
    #welcome .name-plate {
        width: 70%;
        height: 50%;
        text-align: start;
        margin-top: 244px;
        padding-left: 20px;
    }

    .name-plate h1 {
        font-size: 5.3em;
        font-weight: 200;
        line-height: 1em;
        padding: -5px;
    }

}

@media (min-width: 768px) {
    #welcome .name-plate {
        width: 70%;
        height: 50%;
        text-align: start;
        margin-top: 200px;
        padding-left: 20px;
    }

    .name-plate h1 {
        font-size: 7em;
        font-weight: 200;
        line-height: 1em;
        padding: -5px;
    }
}

@media (min-width: 992px) {
    #welcome .name-plate {
        width: 70%;
        height: 50%;
        text-align: start;
        margin-top: 200px;
        padding-left: 20px;
    }

    .name-plate h1 {
        font-size: 9em;
        font-weight: 200;
        line-height: 1em;
        padding: -5px;
    }
}



.contact-modal{
    height: 100vh;
    width: 100%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color:#777;
    background:rgb(80, 94, 97);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity .3s linear;
    position: fixed;
    top: 0;
}
.hide-modal{
    opacity: 0;
    pointer-events: none;
    user-select: none;
    cursor: none;
    transition: opacity .3s linear;
  
}



.container {
	max-width:350px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact-form input[type="text"], 
#contact-form input[type="email"],
 #contact-form input[type="tel"], 
 #contact-form textarea, 
 #contact-submit{
     font:400 12px/16px;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#contact-form {
	background:#F9F9F9;
	padding:25px;
    margin:50px 0;
    position: relative;
}

#contact-form h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact-form h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
    width: 100%;
    position: relative;

}

#contact-form input[type="text"], 
#contact-form input[type="email"], 
#contact-form input[type="tel"], 
#contact-form input[type="url"], 
#contact-form textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}


#contact-form textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact-submit {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact-submit:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact-submit:active { 
    box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); 
}

#contact-form input:focus, #contact-form textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}


#contact-form input[type="text"], 
#contact-form input[type="email"], 
#contact-form input[type="tel"]{
    padding-top: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    background:none;
}



#close-btn{
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 26px;
    color: red;
    padding: 5px;
    font-weight: 600;
    transition: font-size .2s linear;
    cursor: pointer;
    user-select: none;
}
#close-btn:hover{
    transition: font-size .2s linear;
    font-size: 29px;
}
#close-btn:active{
    color: green;
}

.contact-modal-open-btn{
    position: fixed;
    bottom: 0;
    right: 5px;
    padding: 10px;
    margin-bottom: 15px;
    background: rgb(109, 2, 2);
    font-size: 12px;
    cursor: pointer;
    color: #fffffffb;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.24), -1px -1px 5px rgba(0, 0, 0, 0.24);
}
.contact-modal-open-btn:hover{
    background: rgb(68, 20, 20);
}

#select-title{
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding-left: 5px;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    background: none;
}
